.header-top{
    padding: 10px 0px;
    background: #000d6b;
    color: #fff;
}
.header-top-left{
display: flex;
align-items: center;
column-gap: 1rem;
}
.header-top-help{
    display: flex;
    align-items: center;
    column-gap: 0.4rem;

}
.header-top-help i{
    background: #fff;
    color: #000d6b;
    padding: 4px 4px;
    border-radius: 50%;
    font-size: .9rem;
}
.header-top-left span{
    font-size: 0.9rem
}
.header-top-right a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
}
.header-top-right a:hover{
    color: #fff;
}
.header-middle{
    padding: 20px 0px;
}
.logo h1 a span{
    font-size: 1.5rem;
} 
.logo h1 a i{
    font-size: 2.2rem;

}
.logo h1 a{
    text-decoration: none;
    color: #000d6b;
    font-weight: 700;
}
.logo h1{
    line-height: 1.4rem;
}
.header-location span i{
    font-size: 2.2rem;
    color: #000d6b;
}
.header-location-content h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000d6b;
}
.header-location-content h6{
    font-weight: 600;
     
}
.header-btn{
    background: #000d6b !important;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.header-btn:hover{
    background: #000d6b !important;
    color: #fff !important;
}
 .header-btn a {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    text-decoration: none;
    color: #fff;
    justify-content: end;
    font-size: 0.9rem;
 }
.main-navbar{
    padding: 15px 0px;
    background: #000d6b;
    cursor: pointer;
}
.mobile-menu i {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}
.mobile-menu{
    display: none;
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;

}
.nav-item{
    color: #fff !important;
    text-decoration: none;
    transition: 0.3s;
}
.nav-item:hover{
    color: orange !important;
}
.search-box{
    padding: 1px solid black;
    padding: 7px 12px;
    display: flex;
    align-items: end;
    align-items: center;
    border-radius: 50px;
    background: #020a4de9;
    justify-content: end !important;
}
.search-box input{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.search-box input::placeholder{
    font-size: .8rem;
}
.search-box span i{
    color: #fff;
    cursor: pointer;
}
.nav-active{
    color: #f9a826;
}   